<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        ">

	<bean class="org.josso.gateway.identity.service.store.MemoryIdentityStore"
		id="m1">
		<property name="credentialsFileName">
			<value>josso-credentials.xml</value>
		</property>
		<property name="usersFileName">
			<value>josso-users.xml</value>
		</property>
	</bean>

	<bean class="org.josso.gateway.identity.service.store.MemoryIdentityStore"
		id="m2">
		<property name="credentialsFileName">
			<value>josso-credentials2.xml</value>
		</property>
		<property name="usersFileName">
			<value>josso-users2.xml</value>
		</property>
	</bean>

	<bean class="io.github.raonifn.josso.multiidentitystore.MultiIdentityStore"
		id="multi">
		<constructor-arg>
			<list>
				<ref bean="m1" />
				<ref bean="m2" />
			</list>
		</constructor-arg>
	</bean>
</beans>