<s:beans xmlns:s="http://www.springframework.org/schema/beans"
	xmlns:multi="urn:io:github:raonifn:josso"
	xmlns:memory-istore="urn:org:josso:memory:identitystore"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        urn:org:josso:memory:identitystore http://www.josso.org/schema/josso-memory-identitystore.xsd
        urn:io:github:raonifn:josso http://raonifn.github.io/josso-multiidentitystore/josso-multiidentitystore.xsd
        ">

	<memory-istore:memory-store id="josso-identity-store1" />
	<memory-istore:memory-store id="josso-identity-store2" />

	<multi:multi-indentity>
		<multi-istore:identities>
			<s:ref bean="josso-identity-store1" />
			<s:ref bean="josso-identity-store2" />
		</multi-istore:identities>
	</multi:multi-indentity>
</s:beans>